{
  "category": "admin",
  "group": "internal",
  "deployment": "system",
  "conduit": "1g0",
  "v6prefix": "auto",
  "ranges": [
    {
      "name": "admin",
      "first": "10.201.70.10/24",
      "last": "10.201.70.11/24"
    },
    {
      "name": "host",
      "first": "10.201.70.81/24",
      "last": "10.201.70.254/24"
    },
    {
      "name": "dhcp",
      "first": "10.201.70.21/24",
      "last": "10.201.70.80/24"
    }
  ],
  "router": {
    "address": "10.201.70.10/24",
    "pref": 10
  }
}
